absl-py==0.2.1
astor==0.6.2
bleach==1.5.0
certifi==2018.4.16
cycler==0.10.0
gast==0.2.0
grpcio==1.12.0
html5lib==0.9999999
kiwisolver==1.0.1
Markdown==2.6.11
matplotlib==2.2.2
numpy==1.14.3
protobuf==3.5.2.post1
pybullet==1.9.7
pygame==1.9.3
pyparsing==2.2.0
PyQt5==5.10.1
python-dateutil==2.7.3
pytz==2018.4
scikit-learn==0.19.1
scipy==1.1.0
sip==4.19.8
six==1.11.0
sklearn==0.0
tensorboard==1.8.0
tensorflow==1.8.0
termcolor==1.1.0
webencodings==0.5.1
Werkzeug==0.14.1
